/** COLORS **/
/** FONTS **/
@font-face {
  font-family: "DM Sans";
  src: url("../src/fonts/DMSans-Regular.ttf");
}

/** BUTTONS **/
.btn-primary {
  color: #021B51;
  font-weight: 800;
  height: 40px;
}

.btn-primary.btn-form {
  min-width: 207px;
  width: 20%;
}

.btn-primary.btn-conhecer {
  min-width: 177px;
  width: 15%;
}

/** RESET **/
* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 576px) {
  .container-sm {
    width: 90%;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: #e9e9e9 url("../src/images/seta-select.svg") 97% 50% no-repeat;
}

/** ESTILOS GERAIS PARA FONTES **/
body {
  font-family: "DM Sans";
}

.destaque-texto {
  color: #0B27FA;
}

/** HEADER **/
.header {
  width: 100%;
  background-color: #0B27FA;
  color: #fff;
  padding: 50px 0 70px 0;
  margin-bottom: 40px;
}

.header__logo {
  margin-bottom: 60px;
}

@media screen and (max-width: 576px) {
  .header__logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__titulo {
  font-size: 24px;
  text-transform: uppercase;
  color: #00BA91;
  letter-spacing: 3px;
  line-height: 40px;
}

.header__subtitulo {
  font-size: 40px;
  line-height: 52px;
  width: 50%;
  min-width: 500px;
}

@media screen and (max-width: 576px) {
  .header__subtitulo {
    font-size: 36px;
    min-width: 350px;
  }
}

/** MAIN **/
.main__texto {
  width: 85%;
  min-width: 460px;
}

@media screen and (max-width: 576px) {
  .main__texto {
    min-width: 360px;
  }
}

.main__texto p {
  font-size: 18px;
  line-height: 32px;
  color: #444548;
  margin-bottom: 20px;
}

/** FORM **/
.form-download {
  margin-left: 20%;
}

@media screen and (max-width: 576px) {
  .form-download {
    margin-left: 0;
  }
}

.form-download__titulo {
  color: #021B51;
  line-height: 40px;
  font-size: 20px;
  font-weight: 900;
}

@media screen and (max-width: 576px) {
  .form-download__titulo {
    font-size: 28px;
    margin: 20px 0;
  }
}

.form-download__button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/** FOOTER **/
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -50px;
}

@media screen and (max-width: 576px) {
  .footer {
    top: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 50px;
  }
  .footer:first-of-type img {
    margin-bottom: 30px;
  }
}

.footer:first-of-type span {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .footer .btn-conhecer {
    display: none;
  }
}
